# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependencies
node_modules/
package-lock.json # Only if using Yarn or pnpm. Keep this if using npm to lock versions.

# Build Outputs
dist/
build/
.next/

# Environment Variables
.env
.env.production
.env.local
.env.*.local

# Operating System Files
.DS_Store
Thumbs.db

# Editor/IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?